OPENAI_API_KEY=
JSONL_UPLOAD_FILE=file-4az7Dw6W51fla713qEHtfuOk
DATABASE=mongodb+srv://raheemmohamed:<PASSWORD>@cluster0.xmv93el.mongodb.net/semicolon2023?retryWrites=true
DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD